<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12">

      <h2>Approve finished task</h2>

      <form [formGroup]="approveFinishedTaskForm">
        <div class="form-group">
          <label for="user">User:</label>
          <input id="user" type="text" class="form-control" formControlName="user" readonly />
        </div>
  
        <div class="form-group">
          <label for="name">Task name:</label>
          <input id="name" type="text"  class="form-control" formControlName="name" readonly />
        </div>

        <div class="form-group">
          <label for="points">Gained points:</label>
          <input id="points" type="text" class="form-control" formControlName="points" readonly />
        </div>

        <div class="form-group">
          <label for="explanation">Explanation:</label>
          <textarea id="explanation" class="form-control" rows="2" formControlName="explanation" readonly></textarea>
        </div>

        <div class="form-group">
          <button class="btn btn-success mr-1" (click)="onApprove()"><i class="fas fa-thumbs-up"></i> Approve</button>
          <button class="btn btn-danger" (click)="onDisapprove()"><i class="fas fa-thumbs-down"></i> Disapprove</button>
          <a [routerLink]="['/managefinishedtasks']" class="btn">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>