<div class="container">

    <h2 class="text-center mb-5">Claim a reward</h2>

    <alert class="mb-5"></alert>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-5" *ngFor="let reward of rewards" >
            <div class="card h-100 mx-auto" style="width: 18rem;">
                <img class="card-img-top img-reward" [src]="reward.imageUrl" alt="Reward image">
                <div class="card-body">
                    <h5 class="card-title">{{ reward.name }}</h5>
                    <p class="card-text">{{ reward.points }} points</p>
                    <button type="button" class="btn btn-outline-primary btn-order" (click)="onClickOrderReward(content, reward)">
                        <i class="fas fa-shopping-cart"></i> Order
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Claim reward</h4>
          <button type="button" class="close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to claim this reward?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="modal.close()">Confirm</button>
        </div>
      </ng-template>