<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12">
      <table class="table align-middle table-striped" style="vertical-align: middle;">
        <thead>
        <tr>
          <th style="width: 75%;">Reward</th>
          <th style="width: 25%;">Required Points</th>
          <th style="width: 25%;">Purchase</th>
        </tr>
        </thead>
        <tbody style="vertical-align: center;">
        <tr>
          <td>Bak bier (Coupon)</td>
          <td>15</td>
            <td>
                <a class="list-group-item" href="#"><i class="fas fa-shopping-cart"></i></a>
            </td>
        </tr>
        <tr>
          <td>Bol.com coupon van 25 euro</td>
          <td>25</td>
            <td>
                <a class="list-group-item" href="#"><i class="fas fa-shopping-cart"></i></a>
            </td>
        </tr>
        <tr>
          <td>Fles champagne</td>
          <td>30</td>
            <td>
                <a class="list-group-item" href="#"><i class="fas fa-shopping-cart"></i></a>
            </td>
        </tr>
        <tr>
            <td>Reis naar aruba</td>
            <td>3000</td>
            <td>
                <a class="list-group-item" href="#"><i class="fas fa-shopping-cart"></i></a>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
