<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12">
      <alert></alert>
    </div>
    <div class="col-lg-12">
      <table class="table align-middle table-striped" style="vertical-align: middle;">
        <thead>
          <tr>
            <th style="width: 75%;">Reward</th>
            <th style="width: 25%;">Required Points</th>
            <th style="width: 25%;">Purchase</th>
          </tr>
        </thead>
        <tbody style="vertical-align: center;">
          <tr *ngFor="let reward of rewards">
            <td>{{ reward.name }}</td>
            <td>{{ reward.points }}</td>
            <td>
              <button type="button" class="btn btn-outline-primary" (click)="orderReward(reward)"><i class="fas fa-shopping-cart"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>