<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12">
      <p><a class="list-group-item" href="#"><i class="fas fa-plus-circle"></i> Add new</a></p>
      <table class="table align-middle table-striped" style="vertical-align: middle;">
        <thead>
        <tr>
          <th>Reward</th>
          <th style="width: 15%;">Aantal punten</th>
          <th style="width: 10%;">Edit</th>
          <th style="width: 10%;">Delete</th>
        </tr>
        </thead>
        <tbody style="vertical-align: center;">
        <tr>
          <td>Bak bier</td>
          <td>15</td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <tr>
          <td>Bol.com coupon</td>
          <td>25</td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <tr>
          <td>Fles champagne</td>
          <td>30</td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <tr>
          <td>Reis naar aruba</td>
          <td>3000</td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        </tbody>
        <br/><br/><br/><br/><br/><br/><br/>
      </table>
    </div>
  </div>
</div>
