<nav class="navbar navbar-expand-lg navbar-light navbar-custom bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']"><img style="height: 35px;" src="../assets/img/logo.png"></a>

    <button *ngIf="hasUser" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="isCollapsed" (click)="isCollapsed = !isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="hasUser">
          <a class="nav-link inactiveLink" href="">Points: {{ currentuser.points }}</a>
        </li>
        <li class="nav-item" *ngIf="hasUser">
          <a [routerLink]="['/overview']" class="nav-link" href="">Overview</a>
        </li>
        <li class="nav-item" *ngIf="hasUser">
          <a [routerLink]="['/leaderboard']" class="nav-link" href="">Leaderboard</a>
        </li>
        <li class="nav-item" *ngIf="hasUser">
          <a [routerLink]="['/claimtasks']" class="nav-link" href="">Tasks</a>
        </li>
        <li class="nav-item" *ngIf="hasUser">
          <a [routerLink]="['/claimrewards']" class="nav-link" href="">Rewards</a>
        </li>
        <li class="nav-item" *ngIf="hasUser && isAdmin">
          <a [routerLink]="['/admin']" class="nav-link" href="">Admin</a>
        </li>
        <li class="nav-item" *ngIf="hasUser">
          <a (click)="logout()" class="nav-link" href="">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>