
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Jstack Rewards</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container p-5">
      <h1 class="masthead-heading mb-0 textkleur"><img class="img-fluid" src="../assets/img/rewards.png" /></h1>
      <h2 class="masthead-subheading mb-0 textkleur">Rewards</h2>
    </div>
  </div>
</header>




<alert></alert>
<router-outlet></router-outlet>

<br/><br/><br/><br/><br/><br/><br/>
<footer class="bg-light fixed-bottom py-4">
  <div class="container">
    <p class="m-0 text-center text-black small"><i class="fas fa-project-diagram"></i> A project by Team 6</p>
  </div>
</footer>