<app-navbar></app-navbar>


<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container p-5">
      <h1 class="masthead-heading mb-0"><img class="img-fluid" src="../assets/img/rewards.png" /></h1>
    </div>
  </div>
</header>




<router-outlet></router-outlet>

<br/><br/><br/><br/><br/><br/><br/>
<footer class="bg-light fixed-bottom py-4">
  <div class="container">
    <p class="m-0 text-center text-black small"><i class="fas fa-project-diagram"></i> A project by Team 6</p>
  </div>
</footer>