<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12">
      <p><a class="list-group-item" href="#"><i class="fas fa-plus-circle"></i> Add new</a></p>
      <table class="table align-middle table-striped" style="vertical-align: middle;">
        <thead>
        <tr>
          <th>Opdracht</th>
          <th style="width: 15%;">Points to be gained</th>
          <th style="width: 7%;">Edit</th>
          <th style="width: 7%;">Delete</th>
        </tr>
        </thead>
        <tbody style="vertical-align: center;">
        <tr>
          <td>Blogpost schrijven</td>
          <td>1</td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <tr>
          <td>Presentatie geven</td>
          <td>5</td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <tr>
          <td>Nieuwe technologie onderzoeken</td>
          <td>10</td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <tr>
          <td>Bijwonen van een conferentie</td>
          <td>10</td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        <tr>
          <td>Naar een meetup gaan</td>
          <td>5</td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-edit"></i></a>
          </td>
          <td>
            <a class="list-group-item" href="#"><i class="fas fa-trash-alt"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
