
<script type="javascript">
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
    </script>

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12">
      <table class="table align-middle table-striped" style="vertical-align: middle;">
        <thead>
        <tr>
          <th style="width: 75%;">Reward</th>
          <th style="width: 25%;">Obtainable points</th>
          <th style="width: 25%;">Claim</th>
        </tr>
        </thead>
        <tbody style="vertical-align: center;">
        <tr>
          <td>Blogpost Schrijven</td>
          <td>1</td>
          <td>
            <a class="list-group-item" href="#"><i class="far fa-arrow-alt-circle-down" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <td>Presentatie geven</td>
          <td>5</td>
          <td>
            <a class="list-group-item" href="#"><i class="far fa-arrow-alt-circle-down" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <td>Nieuwe technologie onderzoeken</td>
          <td>10</td>
          <td>
            <a class="list-group-item" href="#"><i class="far fa-arrow-alt-circle-down" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <td>Bijwonen van een conferentie</td>
          <td>10</td>
          <td>
            <a class="list-group-item" href="#"><i class="far fa-arrow-alt-circle-down" aria-hidden="true"></i></a>
          </td>
        </tr>
        <tr>
          <td>Naar een meetup gaan</td>
          <td>5</td>
          <td>
            <a class="list-group-item" href="#"><i class="far fa-arrow-alt-circle-down" aria-hidden="true"></i></a>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
