<div class="container">
  <div class="row">
      <div class="col-lg-4 text-center mb-md-5 mb-4">
          <button [routerLink]="['/managefinishedtasks']" class="btn-admin shadow btnOrange"  type="button">Manage<br>finished tasks</button>
      </div>
      <div class="col-lg-4 text-center mb-md-5 mb-4">
          <button [routerLink]="['/managetasks']" class="btn-admin shadow btnGreen"  type="button">Manage<br>tasks</button></div>
      <div class="col-lg-4 text-center mb-md-5 mb-4">
          <button [routerLink]="['/managerewards']" class="btn-admin shadow btnBlue" type="button">Manage<br>rewards</button></div>
  </div>
  <div class="row">
      <div class="col-lg-5 text-md-right text-center mb-md-5 mb-4"><button class="btn-admin shadow btnOrange" type="button">Approve<br>orders</button></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-5 text-md-left text-center mb-md-5 mb-4"><button class="btn-admin shadow btnGreen" type="button">...</button></div>
  </div>
</div>