<div class="container">
  <div class="row">
    <div class="col-sm-6 text-sm-right text-center mb-4">
      <button [routerLink]="['/managefinishedtasks']" class="btn-admin shadow btnOrange"  type="button">Approve<br>finished tasks</button>
    </div>
    <div class="col-sm-6 text-sm-left text-center mb-4">
      <button [routerLink]="['/manageorders']" class="btn-admin shadow btnGreen" type="button">Process<br>orders</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 text-sm-right text-center mb-4">
      <button [routerLink]="['/managerewards']" class="btn-admin shadow btnBlue" type="button">Manage<br>rewards</button></div>
    <div class="col-sm-6 text-sm-left text-center mb-4">
      <button [routerLink]="['/managetasks']" class="btn-admin shadow btnGreen"  type="button">Manage<br>tasks</button>
    </div>
  </div>
</div>