<div class="container">
  <div class="row">
      <div class="col-lg-4 text-center"><button class="btn-admin shadow btnOrange"  type="button">Toekennen <br/> rewards</button></div>
      <div class="col-lg-4 text-center"><button class="btn-admin shadow btnBlue"  type="button">Events <br/> beheren</button></div>
      <div class="col-lg-4 text-center"><button class="btn-admin shadow btnOrange" type="button">Rewards <br/> beheren</button></div>
  </div>
  <div class="row">
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
  <div class="row">
      <div class="col-lg-5 text-right"><button class="btn-admin shadow btnGreen" type="button">Rewards goedkeuren</button></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-5 text-left"><button class="btn-admin shadow btnGreen" type="button">Credits event <br/> beheren</button></div>
  </div>
</div>