@import '~bootstrap/dist/css/bootstrap.css';

body {
     /* Compenseerd met de footer hoogte */
    padding-bottom: 51.2px;
}

footer p {
    color: rgba(0, 0, 0, 0.5);
}

.btn-admin {
    width: 150px !important;
    height: 150px !important;
    font-size: 15px;
    border: 0;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.btnOrange:hover{
    background-color: #FA9508;
}

.btnGreen:hover{
    background-color: #70B838;
}

.btnBlue:hover{
    background-color: #04AEDB;
}

.cursor-pointer {
    cursor: pointer;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

.img-reward{
    max-height: 200px;
}